.App {
  text-align: center;
}




a {
  color: white;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  color: white;
  background: #000000;
  background: -webkit-linear-gradient(top left, #000000, #818D94);
  background: -moz-linear-gradient(top left, #000000, #818D94);
  background: linear-gradient(to bottom right, #000000, #818D94);
  opacity: 0.8;
}

